<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> HI </title>
</head>
<body>

<h1> {{ request.user.username }} </h1>

<h1>
    {% if user.is_authenticated %}
    {{ id }}
    {{ email }}
    {{ username }}</h1>
    {% endif %}

    {% if not_self is True and active_room == True %}

    <div class="to_room">
            <a href="{% url 'chatroom' room %}"> Перейти в чат </a>.
    </div>

    {% endif %}

    {% if not_self is True and active_room == False %}

    <div class="create_chat">
            <a href="{% url 'create_room' username %}">Создать чат</a>.
    </div>

    {% endif %}

</body>
</html>