<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> HI </title>
</head>
<body>

<h1> {{ request.user.username }} </h1>

<h1>
    {% if user.is_authenticated %}
    {{ id }}
    {{ email }}
    {{ username }}</h1>
    {% endif %}


    {% if not_self == True and active_room == True %}
            <a href="{% url 'chatroom' room %}"> Перейти в чат </a>.</br>
    {% endif %}


    {% if not_self == True and active_room == False %}
            <a href="{% url 'create_room' username %}">Создать чат</a>.</br>
    {% endif %}

    {% if not_self == True and friend_request == False and friend == False %}
            <a href="{% url 'send_friend_request' username %}">Отправить заявку в друзья</a>.</br>
    {% elif not_self == True and friend_request == True and friend == False %}
            <h1>Заявка в друзья отправлена</h1>
    {% elif not_self == True and friend == True %}
            <h1>Вы в друзьях</h1>
            <a href="{% url 'remove' id %}">Удалить из друзей</a>.</br>
    {% endif %}

    {% if not_self == False %}
        {{ request_to_self }}
    {% endif %}
</body>
</html>