<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> HI </title>
</head>
<body>

<h1> {{ request.user.username }} </h1>

<h1>
    {% if user.is_authenticated %}
    {{ id }}
    {{ email }}
    {{ username }}</h1>
    {% endif %}

    {% if not_self is True %}

    <div class="create_chat">
        <form method="post">
            <a href="{% url 'create_room' username %}">Создать чат</a>.
            {% csrf_token %}<br>
        </form>
    </div>

    {% endif %}

</body>
</html>