<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>

    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <textarea id="typing-log" cols="100" rows="1"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <script>


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + window.location.pathname
        );


        let timer, timeoutVal = 2000;

        const status = document.getElementById('typing-log');

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if ('typing' in data) {
                window.clearTimeout(timer);
                status.innerHTML = 'Typing...';
                window.clearTimeout(timer);
	            timer = window.setTimeout(() => {
  	            status.innerHTML = '';
                }, timeoutVal);
                }
            if ('message' in data) {
                document.querySelector('#chat-log').value += (data.message + '\n');
                 }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'event': 'message',
                'message': message,
            }));
            messageInputDom.value = '';
        };

        document.querySelector('#chat-message-input').onkeypress = function(e) {
            chatSocket.send(JSON.stringify({
                'event': 'tp',
                'message': 'is typing'
            }));
        };

    </script>


</body>
</html>